name: BC Check

on:
  push:
    branches:
      - master

jobs:
  roave-bc-check:
    name: Roave BC Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: fetch tags
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Roave BC Check
        uses: docker://nyholm/roave-bc-check-ga
