<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./src/CodeGenerator</directory>
      <directory>./src/*/tests</directory>
      <directory>./src/*/*/tests</directory>
      <directory>./src/*/*/*/tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>./tests/</directory>
      <directory>./src/CodeGenerator/tests/</directory>
      <directory>./src/Core/tests/</directory>
      <directory>./src/Service/*/tests/</directory>
      <directory>./src/Integration/*/tests/</directory>
      <directory>./src/Integration/*/*/tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
