@import '~highlight.js/styles/a11y-dark.css';

.hljs, .language-text {
    padding-top: 1rem;
    padding-left: 1rem;
}

.language-text {
    display: block;
    overflow-x: auto;
    background: #2b2b2b;
    color: #f8f8f2;
    padding: 0.5em;
}
