name: Static analysis

on:
  pull_request: ~
  push:
    branches:
      - master

jobs:
  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest

    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          coverage: none

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ github.sha }}
          restore-keys: composer-

      - name: Cache PHPStan
        uses: actions/cache@v4
        with:
          path: .cache/phpstan/
          key: phpstan-${{ github.sha }}
          restore-keys: phpstan-

      - name: Download dependencies
        run: |
          composer update --no-interaction --prefer-dist --optimize-autoloader
          ./vendor/bin/simple-phpunit install

      - name: PHPStan
        run: vendor/bin/phpstan analyze --no-progress

  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ github.sha }}
          restore-keys: composer-

      - name: Cache PhpCsFixer
        uses: actions/cache@v4
        with:
          path: .cache/php-cs-fixer/
          key: php-cs-fixer-${{ github.sha }}
          restore-keys: php-cs-fixer-

      - name: Download dependencies
        run: composer update --no-interaction --prefer-dist --optimize-autoloader

      - name: PHP-CS-Fixer
        run: ./vendor/bin/php-cs-fixer fix --dry-run --diff

  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          coverage: none

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ github.sha }}
          restore-keys: composer-

      - name: Download dependencies
        run: |
          composer update --no-interaction --prefer-dist --optimize-autoloader
          ./vendor/bin/simple-phpunit install

      - name: Psalm
        run: vendor/bin/psalm.phar --no-progress --show-info=false --stats
